<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SpringMVC</title>
</head>
<body>
  <form th:action="@{/users}" th:method="POST" th:object="${user}"><br><br>
    <label for="name">Имя</label>
    <input th:field="*{name}" type="text" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="lastName">Фамилия</label>
    <input th:field="*{lastName}" type="text" id="lastName"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name error</div>
    <br/>
    <label for="age">Возраст</label>
    <input th:field="*{age}" type="text" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <input type="submit" value="Добавить">
  </form>
</body>
</html>